:root {
    --primary-color-red: #e4002b;
    --black-color: #000000;
    --header: 188px;
    --text-color: #a1a1a1;
}
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../img/wall-white.jpg);
    background-size: 100%;
}
body {
    font-family: "roboto", sans-serif;
    font-size: 100%;
   
}
/*------------------------------- HEADER ------------------------ */
/* .app {
}
.header {
} */
.container {
    background: #fff;
}
.kesoc {
    height: calc(var(--header) - 164px);
}
.row.no-gutters {
    width: 360px;
    height: 100%;
    margin: 0 auto;
}
.box {
    height: 100%;
    flex-basis: 0;
    flex-grow: 1;
}
.red {
    background: var(--primary-color-red);
}

/* -------------------------------------NAVBAR------------------------------ */
.header{
    height: 188px;
}
.navbar {
    padding: 18px 20px;
    align-items: center;
    display: flex;
}
.navbar-collapse {
    flex: 1;
    position: relative;
}
.collpase-list {
    float: right;
    display: flex;
}
.collpase-list__item {
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
}
.collpase-list::after {
    content: "";
    position: absolute;
    right: 108px;
    top: 16px;
    width: 2px;
    height: 14px;
    background: black;
}
.text-active {
    color: var(--primary-color-red);
}
.menu-btn {
    display: none;
}
.menu-btn-mb {
    height: 50px;
}
.nav-brand img.mb {
    display: none;
}

/*------------------------------------------ nav menu -----------------------------*/
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
}
.menu-list {
    display: flex;
    float: left;
}
.menu-list__item {
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 2px;
}
.menu-list__item:hover {
    background: black;
    color: #fff;
}
.menu-list__item-active {
    background: black;
    color: #fff;
}
.locations {
    position: relative;
}
/* .locations:hover{
    background: #fff;
    padding: 5px;
} */
.locations span {
    padding: 17.5px 0;
    font-size: 0.9rem;
}
.locations .loca-label {
    padding-right: 10px;
    color: #a1a1a1;
}
.locations .location {
    font-weight: 600;
}
.locations .change {
    padding-left: 35px;
    font-weight: 600;
    align-items: center;
}
.locations .change i {
    font-size: 1.2rem;
    position: absolute;
    top: -1px;
    right: -16px;
}
.cart {
    align-items: center;
    margin-right: 17.5px;
    position: relative;
}
.cart-icon {
    line-height: 51px;
    position: relative;
    top: 10px;
    margin-right: 10px;
}
.quantity {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 1rem;
    font-weight: bold;
}
.cart-label {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 17.5px 0;
    color: var(--primary-color-red);
    line-height: 56px;
}

/* ----------------------BANNER SLIDER -----------------------------------*/
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
    position: relative;
}
.slides input[name="radio-btn"]{
    position: absolute;
    visibility: hidden;
}
.slide{
    width: 20%;
    transition: 1s;
}
.nav-manual{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    justify-content: center;
    width: 1024px;
}
.manual-btn{
    width: 15px;
    height: 15px;
    border: 1px solid var(--primary-color-red);
    border-radius: 50%;
    margin: 5px;
}
.manual-btn:hover{
    background: var(--primary-color-red);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
.nav-auto{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    justify-content: center;
    width: 1024px; 
}
.nav-auto div{
    width: 15px;
    height: 15px;
    border: 1px solid var(--primary-color-red);
    border-radius: 50%;
    margin: 5px;
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background: var(--primary-color-red);
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background: var(--primary-color-red);
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background: var(--primary-color-red);
}
#radio4:checked ~ .nav-auto .auto-btn4{
    background: var(--primary-color-red);
}
#radio5:checked ~ .nav-auto .auto-btn5{
    background: var(--primary-color-red);
}
#radio6:checked ~ .nav-auto .auto-btn6{
    background: var(--primary-color-red);
}
#radio7:checked ~ .nav-auto .auto-btn7{
    background: var(--primary-color-red);
}


/*-------------------------HOME PAGE  ----------------------------------*/
.product-home{
    margin-top: 40px;
}
.categorys{
    padding: 0 12px;
}
.category-header{
    margin-bottom: 20px;
}
.category-header h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}
.category-nav__item{
    list-style: none;
}
.category-nav__link{
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: var(--primary-color-red);  
}
.product-header{
    padding: 0 26px;
}
.product-header h2{
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    text-transform: uppercase;

}

.product-cart{
    width: 226px;
    height: 450px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 22px auto;
}
.product-cart__img{
    padding-bottom: 20px;
}
.product-cart__img .img{
    width: 226px;
}
.product-cart__body{
    padding: 20px;
}
.cart__body-name{
    padding: 20px 0;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
.cart__body-price{
    padding: 20px 0;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
.description{
    padding: 0 14px;
}
.drv{
    font-size: 0.9rem;
    color: var(--text-color);
    line-height: 1rem;
    list-style: square;
}
.cart-btn{
    margin-top: 30px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.btn{
    padding: 0 5px;
    font-size: 0.8em;
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;  
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    position: relative; 
}
.btn-custom{
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(255, 255, 255);
}
.btn-order{
    border: none;
    background: var(--primary-color-red);
    color: #fff;
}
.adds{
    
}
.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.options{
    
}
.option-link{
    text-decoration: none;
}
.option__img{
    width: 497px;
}
.download-app{

}
.download-app__img{
    width: 497px;
}

/* -------------------------footer-------------------------------- */
.logo-footer{
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.logo-footer__img{
    width: 317px;
}
.footer-top{
    padding: 20px 0;
}
.cart-item ul li a{
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-decoration: none;
}
.cart-item ul li a:hover{
    color: var(--primary-color-red);
}
.cart-item__header{
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.cart-item__header:hover{
    color: var(--primary-color-red);
}
.cart-item h3 a{
    text-decoration: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 1);
    line-height: 1.2rem;
}
.cart-item h3 a:hover{
    color: var(--primary-color-red);
}
.contact{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.contact-icon a i{
    font-size: 2.5rem;
    padding: 2px;
    color: var(--primary-color-red);
}
.form-contact{
    padding-top: 20px;
}
.form-contact h2{
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    line-height: 1.5rem;
    font-weight: bold;
}
.form-contact__register{
    display: flex;
}
.input-contact__register{
    padding: 10px;
    flex: 1;
    background: #d3d3d3;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-right: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ; */
}
.btn-contact__register{
    padding: 10px;
    background: var(--primary-color-red);
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.footer-bottom{
    margin-top: 20px;
    border-top: 1px solid #a1a1a1;
}

.informations{
    margin-top: 20px;
}
.information{
    display: flex;
    justify-content: space-between;
}
.info-header{
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    line-height: 1.5rem;
}
.address-info__item{
    line-height: 1.2rem;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 1);
}
.address-info__item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
.address-info__item a:hover{
    color: var(--primary-color-red);
}
.policy{
    margin-top: 45px;
    align-items: center;
}
.policy-item{
    display: flex;
    text-align: center;
    justify-content: center;
}
.policy-item span{
    font-size: 0.9rem;
    padding: 0 6px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    border-right: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
}
.policy-item span:nth-child(3){
    border-right: none;
}
.policy-item span:hover{
    color: var(--primary-color-red);
}
.policy h2{
    text-align: center;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}